.tarjeta-usuario > div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.titulo-lista{
    text-align: center;
    margin-top: 30px;
}

.tarjeta-usuario{
    width: calc(30% - 15px);
    margin-right: 15px;
    min-height: 200px;
    background: #ffffff;
    box-shadow: 0px 0px 15px 0px #d60000;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
}

.contenedor-tarjetas{
    display: flex;
    flex-flow: row wrap;
    margin: 30px 40px 60px 40px;
    justify-content: space-between;
}

.tarjeta-usuario > .seccion-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seccion-contenido{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.titulo-lista{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.titulo-lista > div:nth-child(1){
    width: 20%;
    text-align: right;
}

.titulo-lista > div:nth-child(2){
    width: 60%;
    text-align: center;
}

.titulo-lista > div:nth-child(3){
    width: 20%;
}

.titulo-lista button{
    border-radius: 5px;
}
